html {
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: #003380;
    color: #ff9900;
}

#side-bar {
    position: fixed;
    margin-left:-0.5vw;
}

#nav-bar {
    list-style-type: none;
    text-align: left;
    width: 10vw;

    background-color: #ff9900;
    width: 10vw;
    margin-top: 5vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.list {
    list-style-type: none;
    margin-bottom: 5vh;
    margin-bottom: 0px;
}

#classes {
    margin-top: 50vh;
    margin-left: 50vw;
    list-style-type: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-left:2vw;
    padding-right: 2vw;
}